@{
    ViewData["Title"] = "Diary Entires";
}

@model List<DiaryEntry>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="DiaryEntries" asp-action="Create"><i class="bi bi-journal-plus"></i> Create a New Diary Entry</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.CreatedAt.ToString("d")</td>
                    <td>
                        <a asp-controller="DiaryEntries" asp-action="Read" asp-route-id="@entry.Id" class="btn btn-secondary btn-sm"><i class="bi bi-search"></i> View</a>
                        <a asp-controller="DiaryEntries" asp-action="Update" asp-route-id="@entry.Id" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="DiaryEntries" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>